@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #555;
    line-height: 1.5;
    max-width: 480px;
}

h1 h2 h3 {
    font-family: "Raleway", sans-serif;
    color: #333;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    
}

h3 {
    font-size: 18px;
}

.menu {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.menu ul li {
    list-style: none;
}


/* SECTION PRESENTATION */

section {
    margin: 2px;
    padding: 2px;
    margin-bottom: 20px;
    flex-direction: column;
}

.photo-contract {
    text-align: center;
    margin-bottom: 20px;
}

.panier {
    border: 2px solid #0c6588;
    height: 30px;
    width: 130px;
    background: #0c6588;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background: #000;
}

.slider {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.slider img {
    height: 80px;
    padding: 10px;
}

/* Etiquettes */

.tag {
    display: flex;
    align-items: center;
    max-width: fit-content;
}
.text{
    background-color: #eee;
    padding: 0.6em;
}

.triangle {

    display: flex;
    border: 30px solid #eee;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 0px solid transparent;

}

.dots-triangle{
content: '';
display: inline-block;
width: 8px;
height: 8px;
margin-right: 1em;
background-color:white;
border-radius: 50%;
box-shadow: 15px 0 0 #ddd,
    /* Premier point : décalé de 15px à droite, pas de flou, couleur #ddd */
    30px 0 0 #ddd,
}

.content-triangle{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 20px;
}


/* SECTION DESCRIPTIF */

.descriptif img {
    margin-bottom: 15px;
}

.descriptif h3 {
    margin-bottom: 20px;
}


/* RESPONSIVE TABLETTE */

@media only screen and (max-width: 959px) and (min-width: 481px) {

    body{
        max-width: 959px;
    }
    
    .menu ul {
        display: flex;
    }

    .menu ul li {
        padding: 1rem;
    }

    .content-triangle {display: flex;}


    /* SECTION PRESENTATION */

    .illustration-details {
        width: 100%;
    }

    .illustration-presentation {
        width: 50%;
    }


    .aoc-big-computer {
        width: 100%;
    }

    .slider img {
        height: 80px;
        padding: 10px;
    }


}







/* RESPONSIVE DESKTOP */

@media only screen and (min-width: 960px) {

    *{
        max-width: revert;
    }

   .menu ul {
    display: flex;
    
   }
   
   .menu ul li a {
    padding: 10px;
   }

  .illustration-details {
        display: flex;
        max-width: revert;
        
   }

   .details-du-produit {
    justify-content: end;
   }



}